html, body {
    height: 100%; /* Ensure the body takes up full height */
    margin: 0; /* Remove default margin */
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Minimum height is 100% of the viewport */
  }
  
  .content {
    flex: 1; /* Allow this section to grow and take up available space */
  }
  
  .footer {
    background-color: #483C32;
    color: white; /* Example footer text color */
    text-align: center; /* Center the text */
    padding: 10px 0; /* Padding for the footer */
  }
  